extends layout

block content
  h1 Happy Food Survey
  hr
  br
  h2 #{title}
  form(method='POST' action='')
    div.form-group.form
      label(for='name') Username:
      input#name.form-control(type='text',  name='name' )
      label(for='password') Password:
      input#name.form-control(type='text',  name='password' )
      br
      button.btn.btn-primary(type='submit') Login
  if authErr
    hr
    h4 #{authErr}
  if errors
    ul
      for error in errors
          li!= error.msg
