doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="/javascripts/scripts.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body    
    div.container-fluid
      div.row
        if (user)
          div#sidebar-wrapper.col-sm-3
            block sidebar
              ul.sidebar-nav#sidebar-ul
                li#user-info Logged in as "#{user}"
                a.nav-button(href='/')
                  li Change User
                a(href='/' onclick='logoutConfirm(event,)')
                  li Logout
                a.nav-button(href='/api/feedbacks')
                  li Fill Out The Form
                if (user==='Manager' || user==='Admin')
                  a.nav-button(href='/api/showResults') 
                    li Results
                if (user==='Admin')                        
                  a.nav-button(href='/api/users')
                    li User Roles
                  a.nav-button(href='/api/foods')
                    li Edit Foods
                  a.nav-button(href='/api/centres')
                    li Edit Centres
                  a.nav-button(href='/api/classrooms')
                    li Edit Classrooms
        div(class='col-sm-9')
          block content